<body id="default">

<!--Page Content-->
    <div class="container">

    	<div class="row">

    		<div class=".col-md-6 .col-md-offset-3 text-center">

    			<div class="forecast">

    				<h1 id="unsure"> I'm not sure what the weather is outside. Better go look out a window!</h1>

				</div>

			</div>

		</div>

	</div><!--Closes Page Content Container-->

	<!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    
                    <p class="copyright text-muted small">Copyright &copy; MJDevelopZ 2015. All Rights Reserved</p>

                </div>
            </div>
        </div>
    </footer>
	

</body>
	