<body>
	<div class="header">
			<h1> Ruby Weather App</h1>
			<p> Final Ruby Challenge for Skillcrush Web Developer Blueprint</p>
	</div>

	<form method="post" action="/weather">
		<h1> Please enter your city or zip code:  <br /> <input type="text" name="post[location]" />
		<input type="submit" name="Search" /> </h1>
	</form>

	<footer>
        <p>© Copyright 2015 MJDesignZ</p>
    </footer>
        
</body>