<body id="sunny">

<!--Page Content-->
    <div class="container">

    	<div class="row">

    		<div class=".col-md-6 .col-md-offset-3 text-center">

    			<div class="forecast">

					<h1> Sunny and <%= @temp %>&deg; F </h1> 

					<p> Grab your Sunnies! </p>

				</div>

			</div>

		</div>

	</div><!--Closes Page Content Container-->

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    
                    <p class="copyright text-muted small">Copyright &copy; MJDevelopZ 2015. All Rights Reserved</p>

                </div>
            </div>
        </div>
    </footer>

</body>